{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}
{% block title %}Főoldal{% endblock %}

{% block body %}
{{parent()}}
{% endblock %}
    {% block pageClass %}no-background{% endblock %}
    {% block contentHolder %}
        <span class="big-logo"></span>
        <div></div> 
    {% endblock %}