{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}
{% block title %}Főoldal{% endblock %}

{% block body %}
{{parent()}}
{% endblock %}
    {% block contentHolder %}
        <h3>Főoldal</h3>
    {% endblock %}