<div class="block-exception">
    <div class="block-exception-detected clear-fix">
        <div class="illustration-exception">
            <img alt="Exception detected!" src="{{asset('images/hibauz_icon_1.png')}}" />
        </div>
        <div class="text-exception">
            <h1>
                Hiba : 
                {% if status_code == 404 %}
                        A keresett oldal nem található
                {% else %}
                    kód: {{status_code}}, üzenet: {{status_text}}
                {% endif %}
            </h1>
            <a href="{{path('frontend_index_homepage')}}">Ugrás a főoldalra</a>
            <div class="close-quote">
                <img alt="" src="data:image/gif;base64,R0lGODlhHAAWAMQQANra2+bl5s3Mzevr6/Pz8+jo6O3t7fHx8c/Oz+Pj49PS093d3djX2NXV1eDf4MrJyvb29gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABAALAAAAAAcABYAQAWZoCOO5ACdaECuweO+sIOiDWw36IC8wjH/kAMDVoDYbLJf7ejC/QqvJHBGeC0fAgdhOrsCfDNmFHg9lo9SmvhxRpLXTpSBx6XuXNBjoN4GoNYPaSdtVoCCEIRNhm9iiS6Hjo6BjExxOWN1KAJNQAAvJpkQLS4LVAovfqGeLggQAwlne1MGBQCbqCc2AkV8bigOAQahKQ4DW0AhADs=" />
            </div>
        </div>
    </div>
</div>
