<form id="searcher-form" action="" method="post" autocomplete="off">
    <div class="loading"></div>
    <input type="text" id="search-header" placeholder="Keress rá emberekre, tárgyakra, fájlokra..." name="generalSearchString" autocomplete="off" href="{{path('frontend_header_search_autocomplete')}}">
    <input type="hidden" name="filterType" value="0" class="general-filter-type"/>
</form> 