{% if err is not defined %}
<div class='actualsubject'>
    <h3>Tantárgyak/</h3><span class='actualSubjectName'></span>
</div>
<div class="subjects">
    <div class="subjectsTitle">Tantárgyak</div>
    <div class="subjectsContent">
       {% for s in Subjects %}
         {{ include('FrontendSubjectBundle:Default:oneSubject.html.twig',{'name' : s.getName(), 'path' : s.getSlug()} )}}
       {% endfor %}
    </div>
</div>
{% else %}
    Hiba a tantárgyak lekérdezésekor: {{err}}
{% endif %}