<html>
    <head>
        <title>Jegyzetbázis - admin rendszer</title>
        <link rel="stylesheet" href="{{asset('bundles/frontendadmin/css/list.css')}}">
    </head>
    <body>
        <div class="page">
            <h2>Válaszd ki a módosítani kivánt táblákat</h2>
            <ul>
                <li>
                    <a href="/jegyzetbazis/web/app_dev.php/admin/oldal/tantargyak/">Tantárgyak</a>
                </li>
                <li>
                    <a href="/jegyzetbazis/web/app_dev.php/admin/oldal/fajlok/">Fájlok</a>
                </li>
                <li>
                    <a href="/jegyzetbazis/web/app_dev.php/admin/oldal/iskolak/">Iskolák</a>
                </li>
            </ul>
        </div>
    </body>
</html>