.settings{
    
}

.settings .settingsTabs{
    
}

.settings ul.settingsTabs{
     float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
}

.settings ul.settingsTabs li{
    display:inline;
}

.settings ul.settingsTabs li a{
    float:left;
    width: 230px;
    text-decoration:none;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color:#fff;
    font-weight: bold;
    background-color: #ff6600;
    padding:0.2em 0.6em;
    margin-right: 3px;
}

.settings ul.settingsTabs li.active a{
     background-color: #55f;
}

.settings .tabHeader{
    height: 28px;
}

.settings .tabContent{
    border-top: 6px solid #55f;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.settings .tabContent .settingsPage{
    width: 500px;
    margin: auto;
    margin-top: 20px;
}
