form.settings-form div{
    /* background-color: #FFDE9D; */
    /* margin-bottom: 10px; */
    padding: 5px;
    /* border-radius: 10px; */
}

form.settings-form div label{
    font-size: 20px;
}

form.settings-form div input,
form.settings-form div select{
    width: 100%;
    display: inline;
}

form.settings-form div .date-select select{
    width: 15%;
    margin-right: 4px;
}

form.settings-form div .radio-buttons label{
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

form.settings-form div .radio-buttons input{
    display: inline;
    width: 10px;
}

form.settings-form input.redBorder{
    border: 1px solid red !important;
}

form.settings-form .form-row.submit{
    text-align: center;
}

form.settings-form .form-row.submit button{
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
        cursor: pointer;
}