.settings{
    
}

.settings{
    
}

.settings .titleHolder{
    margin: 10px;
}

.settings .titleHolder h3{
    display: inline;
    color: #da4400;
}

.settings .titleHolder .title{
    font-size: 30px;
    color: #000;
}

.settings .settingsTabs{
    
}

.settings ul.settingsTabs{
     float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
}

.settings ul.settingsTabs li{
    display:inline;
}

.settings ul.settingsTabs li a{
    float:left;
    width: 230px;
    text-decoration:none;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color:#fff;
    font-weight: bold;
    background-color: #ff6600;
    padding:0.2em 0.6em;
    margin-right: 3px;
}

.settings ul.settingsTabs li.active a{
     background-color: #000;
}

.settings .tabHeader{
    height: 34px;
    border-bottom: 6px solid #000;
}

.settings .tabContent{
    /* border-top: 6px solid #55f; */
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.settings .tabContent .settingsPage{
    width: 500px;
    margin: auto;
    padding-top: 20px;
}

.settings .tabContent.not-loaded{
    height: 250px;
    background-image: url('/jegyzetbazis/web/images/loading1.gif');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position:center; 
}

.settings .tabContent.loading form{
    opacity: 0.6;
}

.settings .tabContent.loading{
    background-image: url('/jegyzetbazis/web/images/loading1.gif');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position:center;
}   

.settings .tabContent.successfull{
    background-image: url('/jegyzetbazis/web/images/complete_icon.png');
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 90% 50%;
}

.settings .current-selected-avatar{
    
}

.settings .uploadedAvatarsHolder{
    background-color: rgb(130, 130, 130);
    height: 165px;
    width: 500px; 
    overflow-x:scroll;
    overflow-y: hidden;
    white-space: nowrap   
}

.settings .uploadedAvatarsHolder .uploaded-image{
    margin-right:4px;
    width:130px; 
    height:130px;
    display: inline-block;
}

.settings .uploadedAvatarsHolder .uploaded-image img{
    width:120px; 
    height:120px;
}
    
.settings .uploadedAvatarsHolder .uploaded-image.add-new img{
    width:90px; 
    height:90px;
}

.settings .uploadedAvatarsHolder .uploaded-image.add-new{
    cursor: pointer;
}

.settings .current-selected-avatar span{
    display: block;
    margin-bottom: 10px;
}

.settings .current-selected-avatar img{
    width: 200px;
    height: 200px;
}

.settings .uploaded-image{
    cursor: pointer;
}