<div class="guest-book"> 
    {% if app.user is not null %}
    <div class="newBooking">
        <div class="newForm">
            <textarea class="bookingText"></textarea>
            <button class="sendBooking">Küldés</button><div class="loading-mini hide"></div>
        </div>
    </div>
    {% endif %}
    <div class='entries'>
    {% if bookings|length > 0 %}
        {% for booking in bookings %}
            {{ include('FrontendIndexBundle:Guestbook:oneRow.html.twig',{
            'user' : booking.user,
            'date' : booking.insertDate,
            'text' : booking.text
            }) }}
        {% endfor %}
    {% else %}
        Nincsenek bejegyzések
    {% endif %}
    </div>
</div>