.navbar-collapse ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.navbar-collapse ul li{ display: inline; }

.navbar-collapse ul  li a{
    text-decoration: none;
    padding: .2em 1em;
    color: #000;
}