<span class="leftHolder">LEFT</span>
<span class="searchHolder">
    <input type="text" id="search-on-page">
    <div class="searchResults hide">Keresés...</div>
</span>
<span class="rightHolder">
    <button class="login">Bejelentkezés</button>
    <button class="registration">Regisztráció</button>
</span>