
<span class="leftHolder">
    <a href="{{path('frontend_index_homepage')}}"><span class="headerLogo"></span></a>
        {% include 'FrontendLayoutBundle:Header:menu.html.twig' %}
</span>
<span class="searchHolder">
    <div class="ui-widget"><input type="text" id="search-on-page" title="írd be a keresendő kifejezést"></div>
    
    <div class="searchResults hide">Keresés...</div>
</span>
<span class="rightHolder">
    {% if User is not defined or User is null %}
        <button class="login">Bejelentkezés</button>
        <button class="registration">Regisztráció</button>
    {% else %}
        {% include 'FrontendLayoutBundle:Header:headerUser.html.twig' %}
    {% endif %}
</span>