<span class="menu">
    <a href="{{path('guestbook_homepage')}}" class="visitors book-icon menu-element" title="Vendégkönyv"></a>
    <a href="{{path('subjects_homepage')}}" class="subjects book-icon-colorful menu-element" title="Tantárgyak"></a>
</span>