
.messages{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    min-height: 100px;
    width: 80%;
    display: inline-block;
}


.messages .messagesMenu{
    width: 20%;
    float: left;
}

.messages .messagesList{
    width: 80%;
    float: right;
}


.messages .messagesMenu li.active a{
    background-color: #000;
    color: #fff;
}

.messages .messagesList .p{
    display: none;
}

.messages .messagesList .p.active{
    display: block;
}

.messages li{
    list-style: none;   
}

.messages .messagesList .loading{
    width: 100%;
    height: 80px;
    background-image: url('/jegyzetbazis/web/images/loading1.gif');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position:center; 
}




/*
    az üzenet dobozokhoz
*/
.messagesList .list DIV.message{
    cursor: pointer;
    background-color: #def;
    padding: 3px;
    height: 30px;
    margin-bottom: 5px;
}

.messagesList .list DIV.message.new-message{
    background-color: #0fd;
}

.messagesList .list DIV.message.border{
   margin-bottom: 0px;
   display:block;
   height: 100%;
   border-bottom: 2px solid #ccc;
}

.messagesList .list DIV.message.deleted{
   background-color: rgba(255,0,0,0.4);
}
    
    
.messagesList .list DIV.message .name{
    width: 20%;
    display: inline-block;
}

.messagesList .list DIV.message .smallText{
   margin-left: 5px;
}

.messagesList .list DIV.message .date{
    float: right;
}

.messagesList .list DIV.message .fullMessage{
    display: none;
}

.messages .errors{
    font-size: 16px;
    color: red;
}


DIV.message.cls .longText{
    display:none;
}

.longText{
    padding: 5px;
    font-size: 14pt;
}

DIV.message .deleteMessage{
    display:none;
}

DIV.message:hover .deleteMessage{
    display: inline-block;
    font-size: 18px;
    color: red;
}