<div class="settingsPage">
    Név<input type="text"><br>
    jelszó<input type="text"><br>
    lakhely<input type="text"><br>
    születési dátum<input type="text"><br>
    akármi<input type="text"><br>
    <input type="submit">
</div>