{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% if error %}
    <div class="login-error" style="display:none">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
	{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<form action="{{ path("security:login") }}" method="post" autocomplete="off" class="login-form default-form mini">
                     <div class="holders">
                         <div class="centerHolder">
                            <div class="formLine">
                                    <div class="labelText"><label class="infieldLabel"  for="username">E-mail</label></div>
                                    <div class="inputs">
                                        <input type="text" id="username" name="_username" class='' value="{{ last_email }}" />
                                    </div>
                            </div>
                            <div class="formLine">
                                    <div class="labelText"><label class="infieldLabel" for="password">Jelszó</label></div>
                                    <div class="inputs">
                                        <input type="password" id="password" name="_password" class='' />
                                    </div>
                            </div>
                            <div class="formLine mini">
                                    <input type="checkbox" id="stayLoggedIn" name="_stay_logged_in" class='' />
                                    <label class="infieldLabel" for="stayLoggedIn">Maradjon bejelentkezve</label>
                            </div>
                            <div class="buttons">
                                <input type="submit" value="Bejelentkezés" class="login-submit">
                            </div>
                            <div class="errors" style="display:none">
                            </div>
                        </div>
                     </div>
		</form>
	{% endif %}
{% endblock fos_user_content %}


