<div class="topSection checkMail">		
	<img class="newPassMail" src="/bundles/frontendindex/images/newPassMail.png" />
	<h2>E-mail elküldve...</h2>
	<p class="strong">A jelszavad megváltoztatásához  szükséges információkat e-mailben elküldtük neked az alábbi címre:</p>
	<h3 class="cf">{{ email }}</h3>
	<p>*Ha rövid időn belül nem kapod meg levelünket, akkor kérlek, nézd meg leveleződ SPAM (levélszemét) mappáját is.</p>
</div>
<div class="bottomSection">
	<div class="info">Ha segítségre van szükséged, akkor kattints <a href="#">ide</a>.</div>
		<div class="inputs">
			<input type="submit" class="sumbitAjaxForm sendMail" connectForm="requestNewPasswordForm" value="Levél újraküldése" />
			<a href="#" class="exitReveal"><input type="submit" class="cancel exit-reveal-modal" value="Bezár"/></a>
		</div>
	<div class="cf"></div>
</div>
		
	
