<div class="reveal-modal" id="informationPopUp">
    <a class="close-reveal-modal">&#215;</a>
    <div class="topHolder">
      FEJLÉC
    </div>
    <div class="contentHolder">
        <div class="left">
            <img src="{{asset('images/felugro/figyelmezteto_icon1.png')}}" class="icon alert">
            <img src="{{asset('images/felugro/hibauzi_icon1.png')}}" class="icon error">
            <img src="{{asset('images/felugro/info_icon.png')}}" class="icon info">
        </div>
        <div class="right"></div>
    </div>
    <div class="bottomHolder">
        <div class="buttons">
            <button class="close-popup">Bezárás</button>
        </div>
    </div>
</div>