<div class="reveal-modal" id="informationPopUp">
    <a class="close-reveal-modal">&#215;</a>
    <div class="topHolder">
      FEJLÉC
    </div>
    <div class="contentHolder">
        tartalomszöveg
    </div>
    <div class="bottomHolder">
        Lábléc
    </div>
</div>