.upload-window-reveal{
    top: 10% !important;
    width:80%;
    left: 29%;
}

.upload-icon{
    background-image: url('/jegyzetbazis/web/images/upload_icon3.png');
    width: 28px;
    height: 28px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
}

.upload-icon2{
    background-image: url('/jegyzetbazis/web/images/upload_icon2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 45px;
    left: 250px;
}

.complete-icon{
    
    background-image: url('/jegyzetbazis/web/images/complete_icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: block;
}

.upload-icon:hover{
    border: 1px solid #fff;
}

.uploadWindowContent img{
    width: 100px;
}

.uploadWindowContent table{
    width: 100%;
}


.uploadWindowContent table tbody,
.uploadWindowContent table thead { 
    display: block; 
}

.uploadWindowContent table tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.uploadWindowContent table tbody tr{

}

.uploadWindowContent table thead{
    width: 100%;
}

.uploadWindowContent table tbody tr td{
    width: 200px;
}

.uploadWindowContent table thead tr th{
    width: 30%;
    border: none;
}

.uploadWindowContent table .removeRow{
    background-image: url('/jegyzetbazis/web/images/remove_orange.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
}


.uploadWindowContent table td[title]{
    cursor: pointer;
}

.uploadWindowContent table td[title]:hover{
    background-color: #fcfcca;
}

.uploadWindowContent .mini-loading{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50px;
    right: 60px;
    background-image: url('/jegyzetbazis/web/images/loading1.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center; 
}
.uploadWindowContent button{
    cursor: pointer;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cfcf17), color-stop(1, #ffd500) );
    background:-moz-linear-gradient( center top, #cfcf17 5%, #ffd500 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcf17', endColorstr='#ffd500');
    background-color:#cfcf17;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #ffffff;
    color:#e60000;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:50px;
    line-height:50px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    float: right;
    display: inline-block;
}

textarea.subjects{
    width: 250px;
    height: 100px;
    display: inline-block;
}