<ul>
    <li>
        <a href="{{path('docs', { slug : 'gyakran-ismetelt-kerdesek'})}}">GYIK</a> 
    </li>
    <li>
        <a href="{{path('docs', { slug : 'rolunk'})}}">Rólunk</a> 
    </li>
    <li>
        <a href="{{path('docs', { slug : 'szekhely'})}}">Székhely</a> 
    </li>
    <li>
        <a href="{{path('docs', { slug : 'sugo'})}}">Súgó</a> 
    </li>
</ul>