.headerHolder{
    background-color: #ff6600;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    z-index: 100;
}

.headerHolder .leftHolder{
    position: absolute;
    left: 0%;
    height: 100%;
    width: 30%;
}

.headerHolder .searchHolder{
    position: absolute;
    left: 33%;
    height: 100%;
    width: 50%;
}

.headerHolder .rightHolder{
    position: absolute;
    left: 75%;
    height: 100%;
    width: 20%;
}


.searchResults{
    background-color: white;
    text-align: left;
    padding-left: 10px;
    border: 2px solid #ff6600;
    border-top : none;
    width: 388px;
}

*.hide{
    display: none;
}   

.searchResults.loading{
    background-color: #ddd;
}

.searchResults .loading{
    width: 30px;
    margin-left: 44%;
}


.headerHolder .rightHolder button{
    padding:4px;
    width: 120px;
    text-align: center;
    margin-top: 3px;
    border-radius: 7px;
    border: none;
    background-color: #fff;
    font-weight: bold;
    height: 80%;
}

.headerHolder .rightHolder button:hover{
    cursor: pointer;
    color:  #ff6600;
    background-color: #000;
}

.headerHolder .rightHolder button.active{
    color:  #ff6600;
    background-color: #fff;
}

.headerHolder .userHeaderElement{
    position: absolute;
    height: 80%;
    background-color: #f15100;
    width: 50%;
    margin-top: 5px;
    border: 1px solid #e15100;
    border-radius: 3px;
    cursor: pointer;
    width: 170px;
}

.headerHolder .userHeaderElement .userName{
   float: left;
   height: 100%;
   padding-top: 5px;
   text-alig: center;
   color: white;
   font-size: 14px;
   font-weight: bold;
   width: 80%;
}

.headerHolder .userHeaderElement .userImage{
    width: 20%;
    float: right;
    margin: 0px;
    border-left: 1px solid #ff7700;
    height: 100%;
}

.headerHolder .userHeaderElement .userImage img{
    display: inline;
}

.headerHolder .leftHolder .menu{
    position: absolute;
    height: 80%;
    width: 50%;
    margin-top: 5px;
    border-radius: 3px;
    
    margin-left: 5%;
}

.headerHolder .leftHolder .menu .menu-element{
   float: left;
   height: 100%;
   width: 40px;
   border-radius: 5px;
   margin-left: 5px;
}

.book-icon{
    background-image: url('/jegyzetbazis/web/images/visitors_icon1.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:center;
}

.book-icon-colorful{
    background-image: url('/jegyzetbazis/web/images/books_1.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:center;
}

.headerHolder .leftHolder .menu .menu-element:hover{
    background-color: #fff;
    cursor: pointer;
}

/*
    az aktuális oldal ki legyen jelölve a fenti menüben
*/
body.subjects  .headerHolder .menu .subjects{
    background-color: #fff;
}

body.guestbook  .headerHolder .menu .visitors{
    background-color: #fff;
}

.leftHolder .headerLogo{
    position: absolute;
    left: 8%;
    width: 50%;
    height: 40px;
    background-image: url('/jegyzetbazis/web/images/jegyzetbazis_logo_kicsi.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 4%;
}

.headerHolder .userHeaderElement .userImage IMG{
    width: 30px;
    height: 30px;
}