<script src="{{asset('bundles/frontendsubject/js/UploadCore.js')}}"></script>
<script src="{{asset('FileReader/jquery.FileReader.min.js')}}"></script>
<span class="exit"></span>
<div class="uploadWindowContent">
    <h3>Fájlok feltöltése</h3>
    <span class="postInputChangeElements hide">
        Tantárgyak:<input type="text" class="subjectsinput">
    <button class='uploadAllFiles'>Feltöltés</button>
    </span>
    <a class="upload upload-icon2"></a>
    <span class='mini-loading hide'></span>
    <div class="hide">
    {% render(controller('FrontendSubjectBundle:Upload:uploadFile')) %}
    </div>
    <div class='uploadElements hide'>
        <table border='1'>
            <thead>
            <tr>
                <th>Fájl neve</th>
                <th> </th>
                <th>Fájl mérete</th>
                <th>Fájl típusa</th>
                <th>Műveletek</th>
            </tr>
            </thead>
            <tbody class='scroll300'>
                
            </tbody>
        </table>
    </div>
</div>