<script src="{{asset('bundles/frontendsubject/js/UploadCore.js')}}"></script>
<script src="{{asset('FileReader/jquery.FileReader.min.js')}}"></script>
<span class="exit"></span>
<div class="uploadWindowContent">
    <h3>Fájl feltöltése a szerverre</h3>
    <a class="upload">Feltöltés</a>
    <div class="hide">
    {% render(controller('FrontendSubjectBundle:Upload:uploadFile')) %}
    </div>
    <table border='1'>
        <tr>
            <th>Fájl neve</th>
            <th> </th>
            <th>Fájl mérete</th>
            <th>Fájl típusa</th>
        </tr>
    </table>
</div>