{% if err is not defined %}
    <h3>
    {% if page == 'received' %}
        Beérkezett üzenetek
    {% elseif page == 'sent' %}
        Elküldött üzenetek
    {% elseif page == 'deleted' %}    
        Törölt üzenetek
    {% else %}
        Üzenet
    {% endif %}
    </h3>
    <div class="list">
        {% if page == 'single' %}
            {% render(controller('FrontendMessagingBundle:Default:getSingleMessage', { page : page, messageId : messageId })) %} 
        {% else %}
            {% render(controller('FrontendMessagingBundle:Default:getMoreMessages', { page : page })) %} 
        {% endif %}
   </div>
{% else %}
    Hiba : {{err}}
{% endif %}